<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nachi_control)/config/mz07/mz07_joint_position_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager"
		type="spawner" respawn="false"
		output="screen" ns="/mz07"
		args="joint_state_controller
          j_1_position_controller
          j_2_position_controller
          j_3_position_controller
          j_4_position_controller
          j_5_position_controller
          j_6_position_controller
         "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
    <remap from="/joint_states" to="/mz07/joint_states" />
  </node>
</launch>
